.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.headerMenu a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #565673;
    font-size: 12px;
    letter-spacing: 1.2px;
}
.headerMenu a:hover{
    color: #5f9ea0;
}